.FolderList__li {
  font-size: 22px;

}

.FolderList__li__nav-link.active {
  background-color: lightblue;
}


@media screen and (max-width: 600px) {

  .FolderList__li {
    display: inline;
    margin-right: 16px;
  }
}
