.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas: 'header header' 'sidenav main' 'footer footer';
  height: 100vh;
  /*grid-gap: 1rem;*/
}

.App > nav {
  grid-area: sidenav;
}

.App > header {
  grid-area: header;
}

.App > main {
  grid-area: main;
  overflow: scroll;
}

.App > footer {
  grid-area: footer;
}

.App li {
  list-style: none;
}

.App ul {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  .App {
    grid-template-rows: 80px auto auto 100px;
    grid-template-areas: 'header header' 'sidenav sidenav' 'main main' 'footer footer';
    min-height: 100vh;
  }

  .App > main {
    overflow: visible;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

